header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

header .logo-img img {
  margin-left: 50px;
  width: 80px;
  height: auto;
}

header .login {
  margin-right: 50px;
}

main .appartamenti-manager {
  width: 100%;
  height: 600px;
  padding-top: 50px;
}

main .appartamenti-manager img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

main .info-apt {
  margin-top: 30px;
}

main .info-apt .apt-description p {
  font-size: 40px;
}

main .servizi ul li {
  text-align: center;
  list-style: none;
}

footer {
  padding-top: 50px;
  display: flex;
  width: 100%;
  background-color: #f8fafc;
  justify-content: space-between;
  text-align: center;
}

footer .logo-img img {
  margin-left: 50px;
  width: 80px;
  height: 80px;
}

footer .boolbnb-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

footer .boolbnb-info .about-us ul li {
  padding-top: 20px;
  list-style: none;
  justify-content: space-between;
  font-size: 18px;
}

footer .boolbnb-info .about-us ul li {
  color: #484848;
}

