header {
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

header .logo-img img {
  margin-left: 50px;
  width: 80px;
  height: auto;
}

header .login {
  margin-right: 50px;
}

main {
  display: flex;
  width: 100%;
}

main .appartamenti-manager {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
}

main .appartamenti-manager.tasti {
  flex-direction: column;
}

main .appartamenti-manager .tasto {
  margin-top: 30px;
}

main .appartamenti-manager img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  display: flex;
  width: 100%;
  background-color: #f8fafc;
  justify-content: space-between;
  text-align: center;
}

footer .logo-img img {
  margin-left: 50px;
  width: 80px;
  height: 80px;
}

footer .boolbnb-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

footer .boolbnb-info .about-us ul li {
  padding-top: 20px;
  list-style: none;
  justify-content: space-between;
  font-size: 20px;
}

