// footer {
//   display: flex;
//   width: 100%;
//   background-color: yellow;
//   justify-content: space-between;
//   text-align: center;
//   .logo-img {
//     img {
//       margin-left: 50px;
//       width: 150px;
//       height: auto;
//     }
//   }
//   h3 {
//     font-size: 40px;
//   }
// }

.my-border{
    border-top: 1px solid lightgrey;
}

footer {
    display: flex;
    width: 100%;
    background-color: #f8fafc;
    justify-content: space-between;
    text-align: center;
    padding-top: 30px;
    .logo-img {
        img {
            width: 80px;
            height: 80px;
        }
    }

    .boolbnb-info {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;


        .about-us ul li {

            padding-top: 20px;
            list-style: none;
            justify-content: space-between;
            font-size: 20px;
        }
    }
}
