.my-places {
    width: 100%;
    .my-place {
        width: 100%;
        .index-place-container {
            width: 100%;
            .index-place-foto {
                width: 50%;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
