.src-main {
    display: block;
    .my-100 {
        width: 100%;
        margin: 20px 0;
        border: 1px solid lightgrey;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .my-filter-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 10px;
            .my-src-inputs {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .my-src-buttons {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .my-button-container{
                    height: calc(1.6em + 0.75rem + 2px);
                    button {
                        height: calc(1.6em + 0.75rem + 2px);
                        width: 100%;
                    }
                }
            }
        }
    }
}

.my-src-places {
    .card-container {
        width: 100%;
        height: 370px;
        // display: flex;
        // justify-content: center;
        margin: 30px 0;
        padding: 0;
        .place-container {
            width: 100%;
            // display: flex;
            // justify-content: center;
            a {
                color: black;
            }
            .polaroid {
              width: 100%;
              background-color: white;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              margin-bottom: 25px;
                  img {
                      height: 300px;
                      object-fit: cover;
                  }
              .summary-container {
                text-align: center;
                padding: 10px 20px;
              }
            }
        }
    }
}
